.grocery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-section {
  border: 3px;
  padding-left: 40px;
  height: 50%;
  width: 50%;
  background-color: rgb(238, 197, 203);
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.alert-danger {
  background-color: lightcoral;
}

.alert-success {
  background-color: lightgreen;
}
